<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>path files</comment>
<entry key="path.urlCamera">/nevis_app/nevis_latest/conf/url_camera.xml</entry>
<entry key="path.serverList">/nevis_app/nevis_latest/conf/generated/server_list.csv</entry>
<entry key="path.listaCamsManual">/nevis_app/nevis_latest/conf/lista_cams_manual.csv</entry>
<entry key="path.listaCams">/nevis_app/nevis_latest/conf/generated/lista_cams.csv</entry>
<entry key="path.recList">/nevis_app/nevis_latest/conf/generated/rec_list.json</entry>
<entry key="path.log.serverList">/nevis_app/nevis_latest/log/server_list_log.log</entry>
<entry key="path.log.uptimeServer">/nevis_app/nevis_latest/conf/generated/uptimeServer.pickle</entry>
<entry key="path.slotDepthList">/nevis_app/nevis_latest/conf/generated/slot_depth_list.json</entry>
<entry key="path.camsConfJson">/nevis_app/nevis_latest/conf/cams_conf.json</entry>
<entry key="path.alarmsJson">/nevis_app/nevis_latest/conf/generated/alarms.json</entry>
<comment>path folders</comment>
<entry key="path.root.nevis">/nevis_app/nevis_latest/</entry>
<entry key="path.root.log">/nevis_app/nevis_latest/log/</entry>
<entry key="path.root.src">/nevis_app/nevis_latest/src/</entry>
<entry key="path.root.bin">/nevis_app/nevis_latest/bin/</entry>
<entry key="path.root.conf">/nevis_app/nevis_latest/conf/</entry>
<entry key="path.registrazioni">/nevis/</entry>
<entry key="path.registrazioni.storico">/nevis/public/history/</entry>
<entry key="path.snapshot">/nevis/public/snapshot/</entry>
<entry key="path.disk.partition">/dev/sda3</entry>
<entry key="path.ramdisk">/mnt/ramdisk/</entry>
<entry key="path.discarded">/nevis/discarded/</entry>
<comment>sys configs</comment>
<entry key="log.max.days">10</entry>
<comment>video configs</comment>
<entry key="video.secondsDuration">60</entry>
<entry key="video.csBitrateCounter">10</entry>
<entry key="video.minBitrate">20</entry>
<entry key="video.maxBitrate">800</entry>
<entry key="video.maxMinutes">6000</entry>
<entry key="video.emptyMinutePath.15fps">/nevis_app/nevis_latest/empty_minute_15fps.ts</entry>
<entry key="video.emptyMinutePath.5fps">/nevis_app/nevis_latest/empty_minute_5fps.ts</entry>
<entry key="video.timeoutFfmpeg.seconds">30</entry>
<entry key="video.Mp4Check.wait.seconds">60</entry>
<entry key="video.Mp4Check.waitAndRetry.seconds">5</entry>
<entry key="video.durationThresholdLow">45</entry>
<entry key="video.durationThresholdHigh">75</entry>
<entry key="video.concatenate.limit.bytes">209715200</entry>
<entry key="video.recording.timeout.seconds">7</entry>
<entry key="video.asyncHistory.expire.seconds">3600</entry>
<entry key="video.slotCleaner.type">solar</entry>
<entry key="video.asyncHistory.preview.vertResolution">360</entry>
<entry key="video.asyncHistory.preview.frameRate">5</entry>
<entry key="video.disks.percentage.max">95</entry>
<entry key="video.disks.percentage.toDelete">5</entry>
<entry key="video.missedPacketsLimit">50</entry>
<comment>ws endpoint</comment>
<entry key="ws.endpoint.wsMonitoraggio">http://</entry>
<entry key="ws.endpoint.wsConfigurazioneTreni">http://</entry>
<entry key="ws.endpoint.wsStreamingLive">http://</entry>
<entry key="ws.endpoint.wsStreamingStorico">http://</entry>
<entry key="ws.endpoint.wsAggiornamentoSoftware">http://</entry>
<entry key="ws.endpoint.local.logger">http://localhost:8080/api/system/addlog</entry>
<entry key="ws.endpoint.local.recListRest">http://localhost:8080/recList/updateStatus</entry>
<entry key="ws.endpoint.local.recListRestRequest">http://localhost:8080/recList/readStatus</entry>
<entry key="ws.endpoint.local.serverStatus">http://localhost:8080/api/v1/settings/serverStatus</entry>
<entry key="ws.endpoint.local.recordings">http://localhost:8080/recList/completeList</entry>
<entry key="ws.endpoint.local.uptimeServer">http://localhost:8080/api/uptimeServer/lastPowerOffAndStartUp</entry>
<entry key="ws.endpoint.local.streamUnicast">http://localhost:8080/api/v1/stream/count</entry>
<entry key="ws.endpoint.local.streamMulticast">http://localhost:8080/api/v1/stream/multicast/list</entry>
<entry key="ws.endpoint.local.fotografia">http://localhost:8080/api/v1/fotografiaSistema</entry>
<entry key="ntp.server">it.pool.ntp.org</entry>
</properties>
